<div class="container px-4 py-5">
  <h1 class="pb-2 border-bottom">Dogs</h1>
  <div class="row">
    <% @dogs.each do |dog| %>
    <div class="card mx-3 my-3 zoom rounded-corners" style="width: 250px;">
      <%= link_to dog_path(dog) do %>
      <%= cl_image_tag dog.photo.key, height: 200, width: 248, crop: :fill %>
      <% end %>
      <div class="card-body text-center">
        <h4 class="card-title"><strong><%= dog.name %></strong></h4>
        <p class="text-muted">from <%= dog.suburb %></p>
        <p><i class="fas fa-walking"></i> <strong><%= dog.user.first_name %></strong></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
