<div class="container px-4 py-5">
  <h1 class="pb-2 border-bottom green-header">Dogs</h1>
  <div class="row">
    <% @dogs.each do |dog| %>
    <%= link_to dog_path(dog) do %>
    <div class="card mx-3 my-3 zoom rounded-corners" style="width: 250px;">
      <%= cl_image_tag dog.photo.key, height: 200, width: 248, crop: :fill %>
      <% end %>
      <div class="card-body text-center">
        <h4 class="card-title">
        <strong><%= dog.name %></strong>
        <%= link_to toggle_favorite_dog_path(dog), remote: true, method: :post do %>
      <div class="like-icon mx-2 <%= 'red' if current_user.favorited?(dog) %>" data-id="<%= dog.id %>"> <i class="fas fa-paw"></i>
      </div>
        <% end %>
        </h4>
        <p class="text-muted">from <%= dog.suburb %></p>
        <p><i class="fas fa-walking"></i> <strong><%= dog.user.first_name %></strong></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
