<div class="container px-4 py-5">
  <div class="row">
    <div class="card mx-3 my-3 mx-auto rounded-corners" style="width: 300px;">
      <div class="card-body text-center">
      <%= cl_image_tag @dog.photo.key, height: 200, width: 248, crop: :fill %>
        <h5 class="card-title green-header py-2 pb-2 border-bottom"><strong><%= @dog.name %></strong></h5>
        <p class="light-blue-text">Lives with <strong><%= @dog.user.first_name %></strong> in <%= @dog.suburb %></p>
        <p>Age:
        <% if @dog.birth_month.nil? %>
          <%= 0 %>
        <% else %>
          <%= Date.today.month - @dog.birth_month %>
        <% end %>m
        <% if @dog.birth_year.nil? %>
          <%= 0 %>
        <% else %>
          <%= Date.today.year - @dog.birth_year %>
        <% end %>y
        </p>
        <p>Gender: <%= @dog.gender %></p>
        <p>Size: <%= @dog.size %></p>
        <p>Breed: <%= @dog.breed %></p>
        <p>Energy Level: <%= @dog.energy_level %></p>
        <p>Vaccinated: <%= @dog.vaccinated %></p>
        <p>Neutered: <%= @dog.neutered %></p>
        <%= link_to "Message #{@dog.user.first_name}", user_chatrooms_path(@dog.user), method: :post, class: "btn-green" %>
      </div>
    </div>
  </div>
</div>
