<div class="container px-4 py-5">
  <h1 class="pb-2 border-bottom green-header">Messages</h1>
  <div class="chatroom-card">
    <% @chatrooms.each do |chatroom| %>
    <div class="card my-3 mx-auto rounded-corners">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-start">
          <%# USER DOG IMAGE %>
          <div id="dog-image" class="mr-3">
            <% if current_user == chatroom.user1 %>
            <%= link_to dog_path(chatroom.user2.dog) do %>
              <%= cl_image_tag chatroom.user2.dog.photo.key, height: 80, width: 80, crop: :fill, radius: :max %>
              <% end %>
            <% else %>
              <%= link_to dog_path(chatroom.user1.dog) do %>
              <%= cl_image_tag chatroom.user1.dog.photo.key, height: 80, width: 80, crop: :fill, radius: :max %>
              <% end %>
            <% end %>
          </div>
          <div id="message-content">
            <%# CHAT USER %>
            <% if current_user == chatroom.user1 %>
              <h4><%= link_to "#{chatroom.user2.dog.name} & #{chatroom.user2.first_name}", chatroom_path(chatroom), class: "chat-link" %></h4>
            <% else %>
              <h4><%= link_to "#{chatroom.user1.dog.name} & #{chatroom.user1.first_name}", chatroom_path(chatroom), class: "chat-link" %></h4>
            <% end %>
            <%# MESSAGES %>
            <% if chatroom.messages.last.nil? %>
              <p class="text-muted">No new messages</p>
            <% else %>
              <p class="text-muted"><%= chatroom.messages.last.content %></p><small class="text-muted"><%= chatroom.messages.last.created_at.strftime("%a %b %e at %l:%M%p") %></small>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
