<div class="banner-list container py-5">
  <h1 class="pb-2 border-bottom">Invitation</h1>
  <div class="py-4">
    <%= simple_form_for([@user2, @invitation]) do |f| %>
      <%= f.input :address %>
      <%= f.input :date_time %>
      <%= f.input :details %>
      <%= f.submit 'Send invitation', class: "btn-green" %>
    <% end %>
  </div>
</div>


<%# - Add a default status to the schema.  %>
<%# - Nest the invition within the user %>
