<div class="bottom-nav">
  <div class="nav-items">
    <% if user_signed_in? %>
    <i class="far fa-calendar-alt"></i>
    <i class="fas fa-search"></i>
    <i class="fas fa-comments"></i>
    <i class="fas fa-dog"></i>
      <%= link_to "ðŸ“…", "#" %>
      <%= link_to "ðŸ”", "#" %>
      <%= link_to "ðŸ’¬", "#" %>
      <%= link_to "ðŸ¶", "#" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-item" %>
    <% end %>
  </div>
</div>


<%# <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
