<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  </head>

  <body>
   <div id="banner-image" class="banner">
    <div class="dash-intro">
      <img class="banner-image" src="https://res.cloudinary.com/mel0013/image/upload/v1639650256/hellodog/banner_dashboard_wrp6p3.jpg">
      <h1 class="welcome" >HELLO <%= @dog.name %>!</h1>
      </div>

      <h2 class="pb-2 border-bottom green-header">Profile</h1></h2>
      <div class="card mx-3 my-3 zoom rounded-corners mx-auto" style="width: 400px;">
      <div class="card-body text-center">
        <%= cl_image_tag @dog.photo.key, height: 200, width: 248, crop: :fill %>
      </div>
      <div class="container" style="height: 128px">
        <h3><%= @dog.name %></h3>
        <p>From: <%= @dog.suburb %></p>
        <%= link_to "Update", edit_dog_path(@dog), class: "btn-green" %>
      </div>
    </div>
   </div>
  </body>
</html>
