

<div class="container px-4 py-5">
  <h1 class="pb-2 border-bottom green-header">Invitations</h1>
  <div class="row">
    <% @invitations.each do |invitation| %>
    <div class="card mx-3 my-3 zoom rounded-corners mx-auto" style="width: 250px; background-color: #FFFFFF;" id="<%= invitation.id %>">
      <div class="card-body text-center">
      <%= link_to dog_path(invitation.user2.dog) do %>
        <%= cl_image_tag invitation.user1.dog.photo.key, height: 200, width: 200, crop: :fill %>
        <% end %>
        <% if invitation.status == "accepted"  %>
        <h4 class="card-title light-blue-text my-2"><strong><%= invitation.status.capitalize %></strong></h4>
        <% else invitation.status == "pending" %>
        <h4 class="card-title text-muted my-2"><strong><%= invitation.status.capitalize %></strong></h4>
        <% end %>
        <p class="text-muted"> <%= invitation.address %></p>
        <p class="text-muted"> <%= invitation.details %></p>
        <p class="text-muted"> <%= invitation.date_time.strftime("%m/%d/%Y at %I:%M%p")%></p>

        <p><i class="fas fa-walking"></i> <strong><%= invitation.user1.first_name %></strong></p>
        <p><i class="fas fa-paw"></i> <strong><%= invitation.user1.dog.name%></strong></p>
        <div class="statusHolder">
        <% if invitation.status == "accepted"  %>
            <%= link_to "Decline", decline_invitation_path(invitation), method: :delete, :class => "btn-lightred text-right"  %>
        <% elsif invitation.status == "declined" %>
            <%= link_to "Accept", accept_invitation_path(invitation), method: :patch, :class => "btn-green text-right", :id => "" %>
        <% else %>
          <% if invitation.user1 == current_user %>
          <% else %>
        <%= link_to "Accept", accept_invitation_path(invitation), method: :patch, :class => "btn-green", :id => "" %>
        <%= link_to "Decline", decline_invitation_path(invitation), method: :delete, :class => "btn-lightred"  %>
          <% end %>
        <% end %>
         </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
